body {
    font-family: "Trirong", serif;
    line-height: 1.9;
    /*color: #818181;*/
}

.navbar {
    background: #0A2647;
    font-size: 20px;
    font-family: "Trirong", serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
    width: 80px;
}