#circle {
    list-style: circle;
}

#square {
    list-style: square;
}

#decimal {
    list-style: decimal;
}

#disc {
    list-style: disc;
}

#lower-alpha {
    list-style: lower-alpha;
    list-style-position: inside;
}