
body {
    margin: 0;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* Change Color on Hover*/
.topnav a:hover {
    background-color: #ddd;
    color: #333;
}

/* Create 3 equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 15px;
}

.row {
    background-color: antiquewhite;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }