
body {
    font-family: "Trirong", serif;
    line-height: 1.9;
}

.my-blog-section {
    background: #84A7A1;
    padding: 40px 0;
}

.carousel .carousel-indicators button {
    position: relative;
    height: 10px;
    width: 60px;
    border-radius: 14px;
    border: none;
}

