
body {
    font-family: "Trirong", serif;
    line-height: 1.9;
}

#blogContainer {
    background: #84A7A1;
}


.carousel .carousel-indicators button {
    position: relative;
    height: 10px;
    width: 60px;
    border-radius: 14px;
    border: none;
}

