body {
    font-family: "Trirong", serif;
    line-height: 2.1;
    font-size: 18px;
}

.my-about-section {
    background-color: #F1F6F9;
    padding: 80px 0;
}

.my-header-column {
    padding: 10px 0 0 10px;
}