

.first-slide-container {
    background: #A2CDB0;
    display: flex;
    height: 300px;
    align-items: baseline;
}

.first-slide-container > div {
    background: #84A7A1;   
    font-size: 30px;
    border: 2px solid yellow;
    padding: 40px;
    margin: 10px;
    width: 400px;
}

.second-slide-container {
    background: #606C5D;
    display: flex;
    height: 400px;
    align-items: center;
}

.second-slide-container > div {
    background: #F7E6C4;
    border: 2px solid yellowgreen;
    font-size: 30px;
    margin: 10px;
    padding: 40px;
    width: 400px;
}