/* Working with Texts */
html {
    font-family: cursive;
}

.flexbox-container {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center; /*used to align the flex items:*/
}

#one,
#two,
#three,
#four,
#five {
    height: 10vh;
    width: 30vh;
    border: 2px solid black;
    text-align: center;
    background-color:cornsilk
}