body {
    font-family: "Trirong", serif;
    line-height: 1.9;
    background-color: #eaeaea;
}

section {
    margin-top: 60px;
}

.row {
    margin-bottom: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-label {
    font-size: 1.4em;
}
.navbar {
    background: #0A2647;
    font-size: 24px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}