body {
    font-family: "Trirong", serif;
    line-height: 1.9;
}

.my-first-section {
    background-color: #1b4552;
    padding: 80px 0;
}

.my-first-container {
    background-color: ;
    /*padding: 40px 0;*/
}