
#box1 {
    background-color:rgb(255, 146, 95);
    width: 300px;
    height: 300px;
    font-size: 20px;
}

#box2 {
    background-color: rgb(250, 253, 104);
    height: 50vh;
    width: 5rem;
    font-size: 1em;
}