* {
    font-family: cursive;
}
.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #FFE9B1;
    justify-content: space-between;
    margin: 10px;
    padding: 14px;
}
.box {
    width: 50%;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
}
.one {
    background-color: #6B728E;
}
.two {
    background-color: #70828A;
}
.three {
    background-color: #185ADB;
}
.four {
    background-color: #FFC947;
}