<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meet Our Team Section</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
        </header>
        <div class="our-team-section">
            <h2>Our Team</h2>
            <span class="border"></span>
            <div class="pictures">
                <a href=""><img src="images/20220813_165113.jpg" alt=""></a>
                <a href=""><img src="images/20220914_104226.jpg" alt=""></a>
                <a href=""><img src="images/20230109_131907.jpg" alt=""></a>
            </div>
            <div class="team-description">
                <span class="name">Rodgers Nyangweso</span>
                <span class="border"></span>
            </div>
            <div class="team-description">
                <span class="name">Rodgers Nyangweso</span>
                <span class="border"></span>
            </div>
            <div class="team-description">
                <span class="name">Rodgers Nyangweso</span>
                <span class="border"></span>
                <p>Some description</p>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>