* {
    font-family: cursive;
}

.first-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;
}

.first-grid-container > div {
    background-color: #FFC947;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;
}

.grid-container2 > div {
    background-color: #FFC947;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}