* {
    font-family: cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #70828A;
    padding: 10px;
}

.grid-item {
    font-size: 30px;
    background-color: #FFC947;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;

}

.flex-container {
    display: flex;
    background-color: #70828A;
    padding: 10px;
}

.flex-item {
    font-size: 30px;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 70px;
}
.one {
    background-color: #6B728E;
}
.two {
    background-color: #70828A;
}
.three {
    background-color: #185ADB;
}
.four {
    background-color: #FFC947;
}