
* {
    font-family: cursive,'Courier New', Courier, monospace;
}

.col-sm-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-section {
    background: #40128B;
}
.subscription-section {
    background: #9336B4;
}

.btn {
    background: linear-gradient(125deg, #3498db, #34495e);
    color: #fff;
    cursor: pointer;
	transition: 0.4s;
}