body {
    font-family: "Trirong", serif;
    line-height: 1.9;
    /*color: #818181;*/
}

.navbar {
    background: #0A2647;
    font-size: 20px;
    font-family: "Trirong", serif;
    /*padding-top: 15px;*/
    letter-spacing: 1px;
    /*margin-bottom: 0;*/
}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

.navbar-nav li a:hover {
    color: aqua;
}

.navbar-toggler {
    background-color: #fff;
    /*width: 80px;*/
}

.navbar-brand {
    font-size: 1em; /* Base font size */
}


.section-one {
    padding: 240px 20px;
    /*border: 2px dotted #0A2647;*/
    background-color: bisque;
}

.section-two {
    padding: 240px 20px;
    background-color: #adc178;
    /*border: 2px solid #000;*/
}