body {
    font-family: "Trirong", serif;
    line-height: 1.9;
}

#aboutMeSection {
    background: #F1F6F9;
}

/* Unvisited Link, Visited Link */
#getInTouchBtn:link, #getInTouchBtn:visited {
    color: #fff;
    background-color: #f44336;
    /*padding: 14px 25px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Mouse Over */
#getInTouchBtn:hover {
    color: hotpink;
    background-color: lightgreen;
}

/* Selected Link */
#getInTouchBtn:active {
    color: blue;
    background-color: hotpink;
}