
body {
    font-family: "Trirong", serif;
}

h2 {
    font-size: 8vw;
}

.section {
    background: #E7CEA6;
    padding: 40px 0;
}
.container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn {
    cursor: pointer;
}

