* {
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    background: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.section {
    flex: 1;
    height: 100vh;
    position: relative;
}

.countdown-section {
    background-color: purple;
    background-size: cover;
}

.countdown {
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}

.sub-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.countdown span {
    padding: 0 14px;
    font-size: 14px;
}

.countdown span div {
    font-size: 40px;
}

.newsletter {
    width: 90%;
}

.newsletter h4 {
    font-style: italic;
    font-size: 14px;
}

.newsletter input {
	display: block;
	margin: 12px auto;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 14px 20px;
	border-radius: 30px;
	border: 1px solid #ddd;
	outline: none;
}
.newsletter-button {
	background: linear-gradient(125deg, #3498db, #34495e);
	color: #fff;
	cursor: pointer;
	transition: 0.4s;
}

.newsletter-button:hover {
	opacity: 0.7;
}

@media screen and (max-width: 400px){
	.col {
		flex: 100%;
	}
}