.navbar {
    background-color: #333;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    font-size: 1.2em;
    letter-spacing: 1px;
}


.nav-link, .navbar-brand {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-link:hover {
    background-color: #555;
}

.section {
    padding: 880px 0;
    background-color: #adc178;
}