body {
    font-family: "Trirong", serif;
    /*line-height: 1.9;*/
    
}
.form-section {
    background-color: #CED46A;
    padding: 40px 0px;
    height: 100vh;
}
.form-container {
    background-color: #DCE2F0;
}

.form-row {
    margin: 8px 0px;
    padding: 8px 0px;
}